<div id="sleep_wrapper">
  <div id="sleep_attention">
    <h1><img src="/assets/images/logo01.svg" alt="n2p"></h1>
    <p class="maintxt">
      ご来社ありがとうございます。<br>
      大変申し訳ございませんが、只今の時間帯は営業時間外です。<br>
<br>
      n2pの営業時間は<br>
      平日10:30より20:00までとなっております。<br>
<br>
      御用の方は改めてご来社いただくか、<br>
      担当の人間に直接ご連絡ください。<br>
<br>
      またのご来社を心よりお待ちしております。<br>
    </p>
    <button type="button" class="cancelbtn">
      check status
    </button>
  </div>
</div>