/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require intl-phone/css/intlTelInput.css
 */

.container {
    margin-top: 100px;
}

#contactform .radio, #contactform .text {
    font-size: 1.5em;
    text-align: left;
    padding-left: 35%;
}

#contactform .radio img {
    margin: 0 1em;
}

#alert_success, #alert_warning {
    display: none;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
}

.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
}
