<!DOCTYPE html>
<html>
<head>
  <title>n2p 受付アプリ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="http://n2p.co.jp/favicon.ico" type="image/x-icon">
</head>
<body class="container">

<%= yield %>

</body>
</html>
